*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Crete Round', serif;
}
h1 img{
    width: 400px;
}
.logoprin{
    margin-left: 500px;
    margin-right: 500px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
nav ul{
    background-color: greenyellow;
    background: rgb(44,227,19);
    background: linear-gradient(185deg, rgba(44,227,19,1) 14%, rgba(9,72,244,1) 100%);
    display: flex;
    justify-content: space-around;   
    list-style: none;
    margin: 10px;
}
nav ul li img{
    width: 30px;
}
li{
    position: relative;
    font-size: 1.4rem;
    margin: 10px 20px;
    list-style-type: none;
}
ul ul{
    position: absolute;
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
ul li:hover ul{
    display: inline-block;
}
form{
    padding: 0.2rem;
    margin-left: 20px;
}
h2{
    color: rgba(245, 44, 8, 0.945);
    font-size: 1.6rem;
    word-spacing: 5px;
    text-align: center;
}
.allcell:hover{
    transform: translate(10px, 15px)
}
h3{
    text-align: center;
}
ol{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
}
.pay-foll{
    display: flex;
    justify-content: space-evenly;
}
.nav2 ul{
    background: rgb(75, 228, 156);
    margin: 10px;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
nav ul li:hover {
    transform: scale(1.2, 1.2);
}

@media screen and (max-width: 480px){
    .logoprin{
        margin: 40px;
    }
    nav ul{
    flex-direction: column;
    align-items: center;
    }
    ul li:hover ul{
        display: none;
    }
    label{
        margin: 60px;
    }
    ol{
        flex-direction: column;
        align-items: center;
    }
    .pay-foll{
        flex-direction: column;
        align-items: center;
    }
    .nav2{
        text-align: center;
    }
}