<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon_yp/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Mobile</title>
</head>
<body>
    <header>
        <div>
            <h1>
                <a href="../index.html" class="logoprin"><img src="../assets/img/YourPhone/2.jpg" id="arriba" alt="logo your phone"></a> 
            </h1>
            <nav>
                <ul>
                    <li><a href="../views/mobile.html">Mobile</a>
                        <ul>
                            <li> <a href="#">Samsung</a></li>
                            <li> <a href="#">Motorola</a></li>
                            <li> <a href="#">Iphone</a></li>
                            <li> <a href="#">Huawei</a></li>
                            <li> <a href="#">Xioami</a></li>
                            <li> <a href="#">Realme</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/accessories.html">Accessories</a></li>
                    <li><a href="../views/offers.html">Offers</a></li>
                    <li><a href="../views/support.html">Support</a></li>
                    <li><a href="../views/carrito.html"><img src="../assets/img/carrito_compra.png" alt="carrito de compras"></a></li>
                </ul>
            </nav>
        </div>    
            <form>
                <label for="search">search</label> <input type search="text" name="search" placeholder="Samsung">
            </form><br>
    </header><hr>
    <main>
        <h2>
            Mobile
        </h2>
        <section class="productos">        
            <div class="celusA">
                <img src="..//assets/img/samnsug_logo.webp" alt="imagen logo samsung" width="250px"> 
            </div>
            <div class="celusB">
                <img src="../assets/img/iPhone-Logo.png" alt="imagen logo iphone" width="250">  
            </div>
            <div class="celusC">
                <img src="../assets/img/Motorola-Logo-.png" alt="imagen logo motorola" width="250">
            </div>
            <div class="celusD">
                <img src="../assets/img/xiaomi_logo.jpg" alt="imagen logo xiaomi" width="250"> 
            </div>
            <div class="celusE">
                <img src="../assets/img/huawei_logo.jpg" alt="imagen logo huawei" width="250"> 
            </div>
            <div class="celusF">
                <img src="../assets/img/realme_logo.jpg" alt="imagen logo realme" width="250"> 
            </div>
        </section>
    </main><hr><br>
    <footer>
        <div class="pay-foll">
            <h3>Payment Methods</h3>
                <img src="../assets/img/metodos-pago.png" alt="tarjetas y metodos de pago disponibles" width="150px">
            <h3>Shipping</h3>
                <img src="../assets/img/auto envio.png" alt="imagen formas auto de envio" width="30px">
                <img src="../assets/img/icono-amazon.png" alt="icono amazon de envios" width="50px">
            <h3>Follow us on social networks</h3>
            <img src="../assets/img/face-insta-whatsapp.jpg" alt="iconos whatssap, Facebook e Instagram" width="60px">
        </div><br>
        <nav class="nav2">
            <ul>
                 <li><a href="http://www.motorola.com.ar">Ir a la pagina oficial Motorola</a></li>
                 <li><a href="#arriba">Above</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>