<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon_yp/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Support</title>
</head>
<body>
    <header>
        <div>
            <h1>
                <a href="../index.html" class="logoprin"><img src="../assets/img/YourPhone/2.jpg" id="arriba" alt="logo your phone"></a> 
            </h1>
            <nav>
                <ul>
                    <li><a href="../views/mobile.html">Mobile</a>
                        <ul>
                            <li> <a href="#">Samsung</a></li>
                            <li> <a href="#">Motorola</a></li>
                            <li> <a href="#">Iphone</a></li>
                            <li> <a href="#">Huawei</a></li>
                            <li> <a href="#">Xioami</a></li>
                            <li> <a href="#">Realme</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/accessories.html">Accessories</a></li>
                    <li><a href="../views/offers.html">Offers</a></li>
                    <li><a href="../views/support.html">Support</a></li>
                    <li><a href="../views/carrito.html"><img src="../assets/img/carrito_compra.png" alt="carrito de compras"></a></li>
                </ul>
            </nav>
        </div>    
            <form>
                <label for="search">search</label> <input type search="text" name="search" placeholder="Samsung">
            </form><br>
    </header><hr>
    <main>
        <h2>
            Support
        </h2><br>
        <section class="formu">
            <form>
                <fieldset>
                    <legend>Leave us your question</legend>
                        <div>
                            <label for="name">Fill in your name</label> <input type="text" id="name" name="name"placeholder="Roberto">
                        </div><br>
                        <div>
                            <label for="last name">Fill in your last name</label> <input type="text" id="last name" name="last name" placeholder="Rodriguez">
                        </div><br>
                        <div>
                            <label for="email">Write your email</label> <input type="email" id="email" name="email" required>
                        </div><br>
                        <div>
                            <label for="comment">Write your comment</label><br><textarea name="comment" id="comment" cols="40" rows="10"></textarea>
                        </div><br>
                        <div>
                            <label for="country">Choose your country</label>
                            <select name="country" id="country">
                                <option value="argentina">ARGENTINA</option>
                                <option value="uruguay">URUGUAY</option>
                                <option value="brasil">BRASIL</option>
                            </select>
                        </div><br>
                        <div>
                            <input type="submit" value="SEND">
                        </div><br>
                        <div>
                            <input type="reset" value="DELETE">
                        </div><br>
                </fieldset><br>
            </form>
        </section><br><hr>
    </main><br>
    <footer>
        <div class="pay-foll">
            <h3>Payment Methods</h3>
                <img src="../assets/img/metodos-pago.png" alt="tarjetas y metodos de pago disponibles" width="150px">
            <h3>Shipping</h3>
                <img src="../assets/img/auto envio.png" alt="imagen formas auto de envio" width="30px">
                <img src="../assets/img/icono-amazon.png" alt="icono amazon de envios" width="50px">
            <h3>Follow us on social networks</h3>
            <img src="../assets/img/face-insta-whatsapp.jpg" alt="iconos whatssap, Facebook e Instagram" width="60px">
        </div><br>
        <nav class="nav2">
            <ul>
                 <li><a href="http://www.motorola.com.ar">Ir a la pagina oficial Motorola</a></li>
                 <li><a href="#arriba">Above</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>